@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --strava-color: rgb(252, 76, 1);
  --strava-color-disabled: rgb(252 76 1 / 80%);
}


button {
  @apply p-2 rounded-md;
}

h1 {
  @apply text-2xl font-bold;
}

.strava {
  background-color: var(--strava-color);
  color: white;
}

.strava:disabled {
  background-color: var(--strava-color-disabled);
  color: #333;
}